@include laptop {
  .footer {
    padding: 35px 0 30px;
    .footer__social {
      .ico {
        width: 45px;
        height: 45px;
        margin-bottom: 38px;
      }
      a {
        &:not(:last-child) {
          margin-right: 27px;
        }
      }
    }
  }
}
@include tablet-s {
  .footer {
    padding: 33px 0 42px;
    .footer__social {
      .ico {
        width: 26px;
        height: 26px;
        margin-bottom: 27px;
      }
      a {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
}
