@include laptop {
  .tabs {
    .tabs_container {
      .tabcontent.active {
        .contentText {
          width: 60%;
          h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            width: 80%;
          }
          h5 {
            width: 80%;
          }
        }
        .contentMedia {
          width: 40%;
          height: auto;
        }
      }
    }
  }
}
@include tablet-s {
  .tabs {
    .tabs_container {
      .tabcontent.active {
        .contentText {
          width: 100%;
          h3 {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 0px;
          }
          h5 {
            font-size: 13px;
            line-height: 15px;
          }
        }
        .contentMedia {
          display: none;
        }
      }
    }
  }
}
