$primary-color: #ec7979;
$hover-color: #ab4949;
$active-color: #ab4949;
$primary-color-text: #000000;
$secondary-color-text: #86878b;
$tertiary-color-text: #ffffff;
$default-font: "Raleway", "sans-serif";
$second-font: "Open sans", "sans-serif";
$breakpoint-xxl: 1200px;
$breakpoint-xl: 1024px;
$breakpoint-l: 940px;
$breakpoint-m: 850px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-s: 630px;
$breakpoint-mobile: 560px;
$breakpoint-mobile-small: 460px;
